%h1 Jobs

%table
  %thead
    %tr
      %th Title
      %th Require Skills
  %tbody
    - @jobs.each do |job|
      %tr
        %td= link_to job.title, job_path(job)
        %td= job.skills.map(&:name).join(", ")